/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2016, 7:20:42 PM
    Author     : Igor
*/
body{
    background-color: palegoldenrod;
}
#uploadfoto{
    background-color: greenyellow;
}
#picture{
    width: 300px;
    background-color: greenyellow;
}
.ui-fileupload-buttonbar {
    background: green;
    border: none;
}

.ui-fileupload-content {
    
    background: url("#{resource['primefaces:fileupload/ie-anim.gif']}") repeat-x;
}

.ui-fileupload-buttonbar .ui-fileupload-choose {
    background-color: rgba(142, 103, 64, 0.90);
}
