<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head><title></title></head>
    <body>
    <ui:composition>
         <header>
             
            <nav>
                <span><i>just</i><b>bid.com</b></span>
                <div class="nav_right">
                    
                    
                    <h:form class="links">
                        <h:panelGroup rendered="true">
                            <h:link value="home" outcome="/index"/>|
                        </h:panelGroup>
                        <h:link value="See products" outcome="/product/view"/><ch>|</ch>
                        <h:panelGroup rendered="#{loginCustomer.isLoggedIn}">
                            <h:link value="Add a Product" outcome="/product/create"/><ch>|</ch>
                            <a href="">Shopping Cart</a><ch>|</ch>
                        </h:panelGroup>
                        <h:link rendered="#{!loginCustomer.isLoggedIn}" value="Login" outcome="/login"/>
                        <h:commandLink value ="Log Out" rendered="#{loginCustomer.isLoggedIn}" action="#{loginCustomer.logOut}" /> 
                    </h:form>
                </div>
            </nav>  
             <h:outputText rendered="#{!loginCustomer.isLoggedIn}" value="you are not logged in"/>
             <h:outputText rendered="#{loginCustomer.isLoggedIn}" value="Welcome: "/>
             <p:outputLabel rendered="#{loginCustomer.isLoggedIn}" value="#{loginCustomer.userName}"/>
        </header>
    </ui:composition>
    </body>
</html>
