<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="newproductstyle.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        <ui:insert name="header">
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">

                    <h:outputLabel value="Category:" for="category" />
                    <h:selectOneMenu id="category" value="#{productView.product.category}"  title="Category" >
                        <f:selectItem itemLabel="select one"/>
                        <f:selectItems value="#{productView.product.allCategories}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="ProductName:" for="productName" />
                    <h:inputText id="productName" value="#{productView.product.productName}" title="ProductName" />
                    <h:outputLabel value="productDescription:" for="productDescription" />
                    <h:inputTextarea id="productDescription" value="#{productView.product.productDescription}" title="ProductDescription" />
                </h:panelGrid>
                <h:commandButton action="#{productView.postProduct}" value="Add Poduct"/>
            </h:form>
            
        </f:view>

    </h:body>
</html>
