<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Products</title>
         <link href="Style.css" rel="stylesheet"/> 
    </h:head>
    <h:body>
        <ui:insert name="header">
            <ui:include src="../templates/common/header.xhtml"/>
        </ui:insert>
        
        <h:form id="productForm">
            
            <p:dataGrid var="product" value="#{productView.allProducts}" columns="3" 
                        layout="grid" rows="12"
                        paginator="true"
                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        rowsPerPageTemplate="12,24,36">
                <f:facet name="header">Active auctions</f:facet>
                <p:panel header="#{product.category}">
                    <p:commandLink update=":productForm:display" oncomplete="PF('dlg').show()">
                        <f:setPropertyActionListener value="#{product}" target="#{productView.product}"/>
                        <h:outputText value="#{product.productName}"/>
                    </p:commandLink>
                </p:panel>
            </p:dataGrid>
            <p:dialog modal="true" widgetVar="dlg">
                <f:facet name="header">
                    <h:outputText value="hello #{productView.product.category}"/>
                </f:facet>
                <h:panelGrid id="display" columns="2">
                    <f:facet name="header">
                        <h:outputText value="Cat: #{productView.product.category}"/>
                    </f:facet>
                    <h:outputText value="Bided product name:"/>
                    <h:outputText value="#{productView.product.productName}"/>
                    <h:outputText value="#{productView.product.productDescription}"/>
                </h:panelGrid>


            </p:dialog>


        </h:form>
        <f:view>
            <h:form>
                <h1><h:outputText value="List"/></h1>
                <h:dataTable value="#{productView.allProducts}" var="item">
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Category"/>
                        </f:facet>
                        <h:outputText value="#{item.category}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Id"/>
                        </f:facet>
                        <h:outputText value="#{item.id}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="ProductName"/>
                        </f:facet>
                        <h:outputText value="#{item.productName}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="PictureURL"/>
                        </f:facet>
                        <h:outputText value="#{item.pictureURL}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="ProductDescription"/>
                        </f:facet>
                        <h:outputText value="#{item.productDescription}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Features"/>
                        </f:facet>
                        <h:outputText value="#{item.features}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="see this product"/>
                        </f:facet>
                        <h:button  value="#{productView.findProductByIndex(item.id)}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
        </f:view>

        
    </h:body>
</html>
