<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="2" style="position: absolute;
                                            top: 200px;
                                            left: 400px;">
                <f:facet name="header">Login form</f:facet>
                <h:outputText value="UserName: "/>
                <p:inputText value="#{loginCustomer.userName}"/>
                
                <h:outputText value="Password: "/>
                
                
                <p:password value="#{loginCustomer.pasword}"/>
                <f:facet name="footer">
                    <h:commandButton value="Login" action="#{loginCustomer.loginControl}"/>
                    <h:link value="register" outcome="/customer/create"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>

